*
{
    margin: 0;
    padding: 0;
}
#header{
    background: url("images/csm_Italien_0525c8ba3c.jpg") rgb(59, 57, 61);
    background-blend-mode: multiply;
    background-size: 1500px auto;
    background-position-y: -50px;
    padding: 200px 45px 30px;
    text-align: center;
}
#header h1{
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: lighter;
    color: white;
    text-shadow: 5px 5px 4px black;
}
#header p{
    padding: 100px 0px 0px;
    color: white;
    letter-spacing: 10px;
    font-weight: lighter;
    text-shadow: 3px 3px 4px black;
}
#header button{
    margin: 20px 10px;
    width: 200px;
}
#book-online-text{
    text-align: center;
    background-color: black;
}
#book-online-text h3, #book-online-text p{
    color: white;
}
#book-online-pic{
    background: #686868 url("images/photo-1551183053-bf91a1d81141.jpg");
    background-blend-mode: multiply;
    background-size: cover;
}
#menu span{
    padding: 140px 100px;
}
#about-restaurant{
    text-align: center;
}
#about-restaurant img{
    width: 100%;
    height: auto;
}
#customer-review i{
    color: rgb(182, 165, 68);
}
#customer-review span{
    font-size: 20px;
}
#subscribe{
    padding: 20px 10px;
    background-color: rgb(231, 231, 231);
}
#subscribe i{
    font-size: 50px;
    padding: 0 8px;
}
#subscribe i:hover{
    color: black;
    transition: .4s;
}
#footer{
    padding: 30px 40px;
    background-color: #131313;
    color: rgb(214, 214, 214);
    line-height: 1.8;
}
#footer a{
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#footer a:hover{
    color:rgb(194, 71, 71);
    transition: .4s;
}
#footer img{
    padding-bottom: 20px;
}
#footer .footer-link{
    padding: 50px 0 0;
}
#menu-food1{
    background: url("images/restaurant_fratelli_giethoorn_pizza3.jpg") rgb(107, 107, 107);
    background-blend-mode: multiply;
    background-size: cover;
}
#menu-food1:hover{
    background: url("images/1.jpg") rgb(49, 49, 49);
    background-blend-mode: multiply;
    background-size: cover;
    cursor: pointer;
    transition: .5s;
}
#menu-food2{
    background: url("images/shutterstock_1206985765.jpg") rgb(107, 107, 107);
    background-blend-mode: multiply;
    background-size: cover;
}
#menu-food2:hover{
    background: url("images/pasta-pomodoro.jpg") rgb(49, 49, 49);
    background-blend-mode: multiply;
    background-size: cover;
    cursor: pointer;
    transition: .5s;
}
#menu-food3{
    background: url("images/restaurants-thuisbezorgd-1585316010.jpg") rgb(107, 107, 107);
    background-blend-mode: multiply;
    background-size: cover;
}
#menu-food3:hover{
    background: url("images/2075030874-1572333088-1083620919.jpg") rgb(49, 49, 49);
    background-blend-mode: multiply;
    background-size: cover;
    cursor: pointer;
    transition: .5s;
}
#menu span{
    color: white;
    font-size: 20px;
}
@media (min-width: 576px){
    #book-online-pic{
        display: none;
    }
    #book-online-text{
        background: #3b3b3b url("images/photo-1551183053-bf91a1d81141.jpg");
        background-blend-mode: multiply;
        background-size: cover;
    }
    #review-3, #review-4{
        display: none;
    }
}
@media (min-width: 768px){
    #review-3, #review-4{
        display: block;
    }
    #book-online-pic{
        display: block;
    }
    #book-online-text{
        background: none;
        background-color: black;
    }
}
@media (min-width: 1200px){

}
